@import "/node_modules/tailwindcss/base.css";
@import "/node_modules/tailwindcss/components.css";
@import "/node_modules/tailwindcss/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

/* #root {
  text-align: center;
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
} */

/* Typography and icons */


/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a.active {
  color: whitesmoke;
  background-color: cornflowerblue;
}

.main {
  padding: 2.5rem;
}

/* Buttons */


/* Images */


/* Links */


/* Media queries */

/* @media(width >= 600px) */
@media(min-width: 600px) {
}
