@import "/node_modules/tailwindcss/base.css";
@import "/node_modules/tailwindcss/components.css";
@import "/node_modules/tailwindcss/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.home-title,
.about-me-title,
.skills-title,
.resources-title,
.blog-title {
  font-size: 1.75rem;
  text-align: center;
}

.portfolio-title {
  font-size: 2rem;
  text-align: center;
}

.project-title,
.project-title-link,
.blog-quote-title,
.blog-post-title,
.projects-error-title,
.blog-error-title,
.not-found-title {
  font-size: 1.25rem;
}

.contact-title,
.social-links-title {
  font-size: 1.5rem;
}

.project-title,
.blog-post-title {
  text-align: center;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: 1px solid #F7EFE2;
  border-radius: 0.5rem;
}

.project-title:hover,
.blog-post-title:hover {
  background-color: cornflowerblue;
  transition: 0.2s;
  border: none;
}

.project-title-link {
  text-align: center;
  font-weight: 550;
  cursor: pointer;
}

.project-description {
  line-height: 1.7;
}

.about-me-title.mobile {
  display: block;
}

.about-me-title.desktop {
  display: none;
}

.home-text,
.about-me-text,
.resource-text,
.skills-text {
  font-size: 1.125rem;
}

.home-text {
  text-align: center;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.open-text {
  margin-top: 2rem;
}

.home-email {
  color: #2E5CB5;
}

.home-text:last-of-type {
  margin-top: -0.75rem;
}

.about-me-text {
  line-height: 1.7;
}

.skills-text {
  line-height: 1.7;
  margin-top: 1rem;
}

.blog-quote-title {
  margin-top: 1rem;
}

.blog-title-span,
.blog-quote-title-span {
  font-size: 0.75rem;
}

.blog-quote-author {
  margin-bottom: 2.5rem;
}

.blog-quote-title-span {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}

.blog-quote-text {
  text-align: center;
}

.blog-post-page-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.blog-post-page-one-year-title {
  color: cornflowerblue;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin: 2.5rem 0 3.5rem;
}

.blog-post-text {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.blog-post-date {
  font-size: 1rem;
  font-style: italic;
}

.blog-post-text-span {
  /* color: cornflowerblue; */
  font-weight: 550;
}

.contact-title {
  text-align: center;
}

.social-links-title {
  margin: 2rem 0 1rem;
}

.resource-text {
  line-height: 1.7;
}

.community-text {
  margin-top: 2rem;
}

.contact-text {
  margin-top: 2rem;
}

.footer-text {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 2.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #CFD9FA;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.header-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-menu-opened {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  gap: 20px;
  padding: 4.5rem 1.25rem 1.25rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.mobile-menu-opened.slide-in {
  transform: translateX(0);
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
  width: 100%;
  padding: 2rem;
}

.home,
.about-me,
.skills,
.resources,
.blog,
.projects-error,
.blog-error,
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  /* padding: 2.5rem; */
  margin: 0 auto;
}

.home,
.about-me,
.skills,
.portfolio-layout,
.blog,
.resources,
.contact,
.projects-error,
.blog-error,
.not-found {
  padding-bottom: 4.5rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}

.about-me-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

/* .about-me-log-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.skills {
  align-items: initial;
}

.portfolio {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* gap: 1rem; */
  width: 100%;
  padding-bottom: 2.5rem;
  margin: 1rem auto;
}

.project-one,
.project-two {
  margin-top: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #3F485A;
  gap: 1rem;
  width: 100%;
  margin: 2rem auto 2.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.project-links-container {
  display: flex;
  align-items: center;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2.5rem;
  margin-top: 1rem;
  /* border: 1px solid #F7EFE2; */
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem 0.1125rem #6989FA;
}

.blog-post-one-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
  width: 100%;
}

.resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2.5rem;
  margin-top: 1rem;
  /* border: 1px solid #F7EFE2; */
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem 0.1125rem #6989FA;
}

.resource:hover {
  box-shadow: 0 0 0.75rem 0.1125rem #B4C4FC;
}

.breadcrumbs {
  max-width: 80%;
  /* margin: 1rem auto 0; */
  margin-bottom: 2rem;
}

.breadcrumbs * {
  display: inline-block;
  margin-right: 0.75rem;
}

.breadcrumbs .crumb::after {
  content: ">";
  margin-left: 0.75rem;
}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding-bottom: 2.5rem; */
}

.contact-form-container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
}

.contact-form label,
.input-name,
.input-email,
.input-message,
.form-submit-button {
  display: block;
  width: 100%;
}

.input-name,
.input-email,
.input-message {
  color: #2A303C;
  background-color: #F7EFE2;
  padding: 1rem;
  margin: 0.5rem 0 1rem;
  border: none;
  border-radius: 0.5rem;
}

.contact-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  /* padding: 2rem 4.5rem 4.5rem; */
  margin-top: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 4.5rem; */
  margin: auto 0 0;
  padding: 4.5rem 4.5rem 6rem;
  box-shadow: 0 0 0.5rem 0.5rem #CFD9FA;
}

.footer .social-links-container {
  padding: 0;
  margin-top: 2rem;
}

/* Buttons */

.form-submit-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem 0.1125rem #6989FA;
}

.form-submit-button:hover {
  color: #F7EFE2;
  background-color: cornflowerblue;
  box-shadow: 0 0 0.25rem 0.1125rem #B4C4FC;
}

/* Images */

.home-image {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 0.1125rem #B4C4FC;
}

.about-me-image {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 2.5rem 0.1125rem #B4C4FC;
}

.blog-post-image {
  align-self: center;
  width: 100%;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 0.4rem 0.1125rem #B4C4FC; */
  margin: 0 0 4rem;
}

.error-image {
  width: 100%;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

/* Links */

.nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.active {
  color: whitesmoke;
  background-color: #143982;
}

.home-text a {
  /* background-image: linear-gradient(to bottom, rgba(105, 137, 250, 0.5), rgba(105, 137, 250, 0.2));
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.125rem rgba(105, 137, 250, 0.5);
}

.view-work-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  color: whitesmoke;
  background-color: #2E5CB5;
  padding: 1rem 1.5rem;
  margin: 4.5rem 0;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 0.25rem 0.1125rem #6989FA;
}

.view-work-link:hover {
  color: #F7EFE2;
  background-color: cornflowerblue;
  box-shadow: 0 0 0.25rem 0.1125rem #B4C4FC;
}

.project-live-link,
.project-github-link {
  text-decoration: underline;
  cursor: pointer;
}

.project-live-link {
  margin-right: 1rem;
}

.blog-post-one-year-link {
  color: cornflowerblue;
  font-weight: 550;
  text-decoration: underline;
  cursor: pointer;
}

.resources-link {
  font-size: 1.125rem;
  text-decoration: underline;
}

.not-found a,
.projects-error a,
.blog-error a {
  text-decoration: underline;
}

/* Media queries */

/* @media (width <= 599px) */
@media (max-width: 599px) {
  /* Typography and icons */

  .portfolio-title {
    margin-top: 1rem;
  }

}

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */

  /* .home-title, */
  .about-me-title,
  .skills-title,
  .resources-title,
  .blog-title {
    font-size: 2rem;
  }

  .home-title {
    font-size: 2.5rem;
    width: 70%;
  }

  .home-text {
    font-size: 1.125rem;
    width: 40%;
  }

  .portfolio-title {
    font-size: 2.5rem;
  }

  /* .home-text:first-of-type {
    font-size: 1.25rem;
  } */

  .about-me-text {
    width: 100%;
  }

  .skills-text,
  .blog-quote-text {
    width: 60%;
  }

  .about-me-title.mobile {
    display: none;
  }

  .about-me-title.desktop {
    display: block;
  }

  .social-links-title {
    margin: 1rem 0;
  }

  .footer-text {
    text-align: start;
    padding: 0
  }

  /* Layout */

  .header {
    padding: 2.5rem 4.5rem;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  .mobile-menu-opened {
    display: none;
  }

  .main {
    padding: 2.5rem;
  }

  /* .home-container {
    flex-direction: row;
  } */

  .home-image-container {
    width: 20%;
  }

  .about-me {
    flex-direction: row;
    padding: 0 4.5rem 4.5rem;
  }

  .skills,
  .blog,
  .resources {
    padding: 0 4.5rem 4.5rem;
  }

  .skills {
    align-items: center;
  }

  /* .about-me-text-container {
    padding: 2rem;
  } */

  /* .about-me-image-container {
    width: 60%;
  } */

  .portfolio {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4.5rem;
    margin-top: 2rem;
  }

  .project,
  .blog-post,
  .blog-post-one-year {
    width: 60%;
  }

  .resource {
    width: 40%;
  }

  .resource:nth-of-type(1) {
    margin-top: 2rem;
  }

  .breadcrumbs {
    padding: 1rem;
  }

  .contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 7.5rem 4.5rem;
  }

  .contact-form-container {
    margin-top: 0;
  }

  .contact-form {
    width: 80%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 4.5rem 4.5rem 6rem;
  }

  .footer .social-links-container {
    justify-content: flex-end;
    padding: 0;
  }

  /* Images */

  .about-me-image {
    width: 70%;
  }

  .blog-post-image {
    width: 70%;
    margin-bottom: 4.5rem;
  }

  .error-image {
    width: 40%;
  }

  /* Links */

  .view-work-link {
    font-size: 1.25rem;
    /* margin: 2.5rem; */
  }

}
