@import '/node_modules/tailwindcss/base.css';
@import '/node_modules/tailwindcss/components.css';
@import '/node_modules/tailwindcss/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}